doctype html
html
    head
        meta(charset="UTF-8", name="viewport", content = "width = device-width, initial-scale = 1")
        link(rel='stylesheet', href="/out/semantic.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title=title
    body
        div.ui.large.top.fixed.hidden.menu.secondary#fixedmenu
            div.ui.container
                a(class="item", href="#")
                    img(class="ui small image", src="/images/logomoneygustX.png")
                a(class="item", href="/") Home
                a(class="item", href="TempEventDisplay.html") Events
                div.right.menu
                    div.ui.dropdown.item.login
                        div.text
                            img.ui.avatar.image(src="https://semantic-ui.com/images/avatar2/large/kristy.png")
                            span#username
                                i.dropdown.icon
                        div.menu
                            a.item(href="/InvestorDashboard") Dashboard
                            a.item History
                            a.item Settings
                            a.item(href="/logout") Signed Out
        div.ui.grid
            div.four.wide.column
                div.ui.vertical.fluid.tabular.menu
                    - let option = choice
                    case option
                        when 'Suggested Startup'
                            a.active.item(href='/InvestorDashboard') Suggested Startup
                            a.item(href='/InvestorDashboard/Notification') Notifications
                                div.ui.teal.left.pointing.label#notifCount
                            a.item Pics
                            a.item Companies
                            a.item Links
                        when 'Notifications'
                            a.item(href='/InvestorDashboard') Suggested Startup
                            a.active.item(href='/InvestorDashboard/Notification') Notifications
                                div.ui.teal.left.pointing.label#notifCount
                                //div.ui.label 51
                            a.item Pics
                            a.item Companies
                            a.item Links
            div.eight.wide.stretched.column
                case option
                    when 'Suggested Startup'
                        div.ui.segment
                            h1 Investor List
                            div.ui.divider
                            div.ui.divided.items#listContainer
                    when 'Notifications'
                        div.ui.segments#RecentContainer
                            div.ui.segment.inverted.secondary
                                h5 Recent
                        div.ui.segments#EarlierContainer
                            div.ui.segment.inverted.secondary
                                h5 Earlier
            div.four.wide.column
                div.ui.medium.rectangle.test.ad(data-text='Advertisement')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/out/semantic.min.js")
    script(src="/javascripts/InvestorDashboard.js")


