body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.tempImg{
  opacity: 0.8;
}

a {
  color: #00B7FF;
}

/*#header{*/
  /*!*background-image: url("../images/x.jpg");*!*/
  /*!*background-repeat: no-repeat,no-repeat;*!*/
  /*background:linear-gradient(0deg,rgba(0,100,0,0.3), rgba(0,100,0,0.3));*/
  /*-webkit-background-size: cover;*/
  /*background-size: cover;*/
  /*!*background-color: rgba(200, 200, 200, 0.3);*!*/
/*}*/

#fixedmenu{
  background-color: White;
}